.app-header {
  border-radius: 15px;
  section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(249, 249, 249);
    border-radius: 15px;
    .logo {
      font-size: 18px;
    }
    .add-contact {
      display: flex;
    }
  }
  box-shadow: 0px 0px 16px -12px;
}
