.sort {
  display: flex;
  align-items: center;
  padding: 15px;
  color: rgb(103, 103, 103);
  > div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .age-sort {
    margin-inline: 20px;
  }
}
